@using Spillgebees.Blazor.Map.Components
@using Spillgebees.Blazor.Map.Models
@using Spillgebees.Blazor.Map.Models.Layers

<div>
    <h3>WMS tile layer usage</h3>
    <CodeSnippet Code="@Code">
        <Component>
            <SgbMap MapOptions="@_mapOptions" TileLayers="@_tileLayers" />
        </Component>
    </CodeSnippet>
</div>

@code {
    private const string Code =
@"<SgbMap MapOptions=""@_mapOptions""
        TileLayers=""@_tileLayers"" />";

    private readonly MapOptions _mapOptions = MapOptions.Default with
    {
        Center = new Coordinate(49.6117, 6.1319),
    };

    private readonly List<TileLayer> _tileLayers =
    [
        TileLayer.OpenDataBaseMapWms with
        {
            Wms = TileLayer.OpenDataBaseMapWms.Wms! with {Layers = "basemap_3d_hd"}
        }];
}
