@inherits ComponentBase
@using Spillgebees.Blazor.Map.Models.Controls

@code {
    protected virtual RenderFragment Render
        => @<CascadingValue Value="this">
                <div id="@ContainerId"
                     class="@InternalContainerClass"
                     style="@InternalContainerStyle"
                     @ref="@MapReference">
                </div>
                @foreach (var legendControl in Controls.OfType<LegendMapControl>())
                {
                    <MapLegendControlHost Control="@legendControl" />
                }
                @ChildContent
            </CascadingValue>;
}
