@inherits ComponentBase
@using Spillgebees.Blazor.Map.Models.Controls
@using Spillgebees.Blazor.Map.Components.Layers

@code {
    protected virtual RenderFragment Render
        => @<CascadingValue Value="this">
                <div id="@ContainerId"
                     class="@InternalContainerClass"
                     style="@InternalContainerStyle"
                     @ref="@MapReference">
                </div>
                 @foreach (var legendControl in Controls.OfType<LegendMapControl>())
                 {
                     <MapLegendControlHost Control="@legendControl" />
                 }
                 <CascadingValue Name="@TrackedDataSourceGuard.CascadeName" Value="@TrackedDataSourceGuard.Token" IsFixed="true">
                     @foreach (var trackedDataLayer in TrackedDataLayers)
                     {
                         @RenderTrackedDataLayer(trackedDataLayer)
                     }
                 </CascadingValue>
                 @ChildContent
             </CascadingValue>;
}
