@inherits ComponentBase
@using Spillgebees.Blazor.Map.Models.Controls
@using Spillgebees.Blazor.Map.Components.Layers

@code {
    protected virtual RenderFragment Render
        => @<CascadingValue Value="this">
            <CascadingValue Value="new MapRootContext(this)">
                <CascadingValue Value="ControlRegistry">
                    <div id="@ContainerId"
                         class="@InternalContainerClass"
                         style="@InternalContainerStyle"
                         @ref="@MapReference">
                    </div>
                    @foreach (var legendControl in Controls.OfType<LegendMapControl>())
                    {
                        <MapLegendControlHost Control="@legendControl" />
                    }
                    @ChildContent
                </CascadingValue>
            </CascadingValue>
              </CascadingValue>;
}
